.headerContainer {
    margin-top: 20px;
    margin-bottom: 50px;
}

.backButton {
    float: left;
    font-size: x-large;
    color: white;
}

.favoriteButton {
    float: right;
    font-size: x-large;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
}