/* Class Styles */

.namePlateContainer {

}

.pokemonName {

}

.cells {

}

/* ID Styles */

#pokemonSprite {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}