/* Class Styles */

.namePlateContainer {
    border: solid 1px black;
    margin-top: 65px;
    height: 25%;
}

.pokemonName {
    position: relative;
    bottom: 20px;
}

.cells {
    position: relative;
    bottom: 30px;
}

/* ID Styles */

#pokemonSprite {
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    margin: auto;
}