/* --- ID Styles --- */

#description {
    text-align: center;
}

#infoCard {
    margin: auto;
    font-family: sans-serif;
}

#moreInfoBanner {
    margin-top: 35px;
}

#pokemonImage {
    margin: auto;
    display: block;
    min-width: 250px;
    min-height: 250px;
}

#pokemonName {
    margin: 0px 0 0 0;
    font-size: 190%;
}

#searchResultContainer {
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    height: 550px;
    width: 355px;
    text-decoration: none;
    color: white;
    text-shadow: gray 0px 0px 10px;
}

/* -- Class Styles -- */

.type {
    margin: 10px 2px 0px 2px; 
    padding: 5px 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: inline-block;
    text-shadow: none;
    font-weight: bold;
}

/* -- Pseudo Class Styles -- */

p {
    font-size: 110%;
}

a {
    text-decoration: none;
}