/* --- ID Styles --- */

#measurementsHeading {
    text-align: center;
    font-size: 100%;
}

.floatingBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    font-size: 90%;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.infoBoxStatCell {
    display: inline-block;
    width: 155.66px;
}