/* --- ID Styles --- */

#statsTable {
  margin-top: 10px;
}

#hpBar {
    background-color: #6EEB83;
}

#atkBar {
    background-color: #FF3C38;
}

#defBar {
    background-color: #6699CC;
}

#spAtkBar {
    background-color: #A23E48;
}

#spDefBar {
    background-color: purple;
}

#spdBar {
    background-color: #F0F66E;
}

#totalContainer {
    text-align: center;
}

#totalProgressBar {
    margin: auto;
    height: 30px;
    width: 351px;
}

#totalProgressBar div {
    padding: 0;
    margin: 0;
    
}

#hpShare {
    background-color: #6EEB83;
    border-radius: 10px 0 0 10px;
}

#atkShare {
    margin-left: 0;
    background-color: #FF3C38;
}

#spAtkShare {
    background-color: #A23E48;
}

#defShare {
    background-color: #6699CC;
}

#spDefShare {
    background-color: purple;
}

#spdShare {
    background-color: #F0F66E;
    border-radius: 0 10px 10px 0;
}





/* --- Class Styles --- */

.statName {
    padding: 7.5px 30px 7.5px 0px;
    color: gray;
}

.statInteger {
    padding-right: 15px;
    text-align: center;
    font-weight: bold;
}

.progressBarContainer {
    padding-left: 0px;
}

.progressBarEmpty {
    height: 6px;
    width: 214px;
    border-radius: 10px;
    background-color: lightgrey;
}

.progressBarFill {
    height: 6px;
    border-radius: 10px;
}

.totalProgressBarFill {
    height: 12px;
    background-color: black;
    display: inline-block;
}