/* --- ID Styles --- */

#statsTable {
  margin-top: 10px;
}

#hpBar {
    background-color: #6EEB83;
}

#atkBar {
    background-color: #FF3C38;
}

#defBar {
    background-color: #6699CC;
}

#spAtkBar {
    background-color: #A23E48;
}

#spDefBar {
    background-color: purple;
}

#spdBar {
    background-color: #F0F66E;
}

/* --- Class Styles --- */

.statName {
    padding: 7.5px 30px 7.5px 0px;
    color: gray;
}

.statInteger {
    padding-right: 15px;
    text-align: center;
    font-weight: bold;
}

.progressBarContainer {
    padding-left: 0px;
}

.progressBarEmpty {
    height: 6px;
    width: 214px;
    border-radius: 10px;
    background-color: lightgrey;
}

.progressBarFill {
    height: 6px;
    width: 50%;
    border-radius: 10px;
    background-color: black;
}