/* Class Styles */ 

 .detailedInfoNavButton {
     padding: 0 13px 0 13px;
     height: 40px;
     background-color: transparent;
     border: none;
     font-size: 100%;
     font-weight: bold;
 }

/* ID Styles */

#detailedInfoNavBarContainer {
    margin-top: 25px;
    text-align: center;
}

