/* Class Styles */ 

 .detailedInfoNavButton {
     margin: 0 0px 0 0px;
     width: 88.5px;
     height: 40px;
     background-color: transparent;
     border: none;
     font-size: 95%;
 }

/* ID Styles */

#detailedInfoNavBarContainer {
    margin-top: 25px;
    text-align: center;
}

