/* --- ID Styles --- */

#description {
    text-align: center;
}

#infoCard {
    margin: auto;
    font-family: sans-serif;
}

#pokemonImage {
    margin: auto;
    display: block;
    min-width: 250px;
    min-height: 250px;
}

#pokemonName {
    margin: 0px 0 0 0;
    font-size: 190%;
}

#searchResultContainer {
    margin: 0;
    padding: 5px;
    border-radius: 25px 25px 0 0;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 97.5%;
    text-decoration: none;
    text-shadow: #000 0px 0px 1px;
    color: white;
}

/* -- Class Styles -- */

.type {
    margin: 10px 2px 0px 2px; 
    padding: 5px 10px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 16px;
}

/* -- Pseudo Class Styles -- */

p {
    font-size: 110%;
}