/* ID Styles */

#searchBarContainer {
    margin: 100px 5px;
    text-align: center;
}

#searchTextField {
    padding-left: 8.1px;
    width: 88.7%;
    height: 30px;
    background-color: lightgray;
    border: none;
    border-radius: 10px 0 0 10px;
}

#searchButton {
    width: 32px;
    height: 32px;
    background-color: lightgray;
    border: none;
    border-radius: 0 10px 10px 0;
}